:root {
  --dark-blue: #262e38;
  --light-grey: #969fad;
  --medium-grey: #7c8798;
  --orange: #fc7614;
  --pure-white: #ffffff;
  --very-dark-blue: #131518;
  --font-family: "Overpass", sans serif;
  --black: #000;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: var(--font-family);
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--dark-blue);
  color: var(--pure-white);
  display: grid;
}
.rating {
  background-color: var(--black);
  width: 360px;
  border-radius: 10px;
  height: 360px;
  padding: 30px;
  place-self: center;
  border-radius: 20px;
}
.hidden {
  display: none;
}
.star {
  height: 40px;
  width: 40px;
  background-color: var(--dark-blue);
  border-radius: 100%;
  display: grid;
}
.fa-star {
  color: var(--orange);
  place-self: center;
}
h1 {
  font-size: 1.2rem;
  color: var(--pure-white);
}
.text {
  color: var(--light-grey);
}
.rating-nums {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-content: center;
  padding-bottom: 15px;
}
.nums {
  height: 50px;
  width: 50px;
  background-color: var(--dark-blue);
  border-radius: 100%;
  justify-content: center;
  align-content: center;
  display: grid;
  cursor: pointer;
}
.nums:hover {
  background-color: var(--orange);
}
.num-active {
  background-color: var(--medium-grey);
}
.submit {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}
.submit a {
  display: grid;
  width: 100%;
  height: 40px;
  border-radius: 30px;
  background-color: var(--orange);
  align-content: center;
  justify-content: center;
  color: var(--pure-white);
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
}
.submit a:hover {
  background-color: var(--pure-white);
  color: var(--orange);
}

.illustration-thank-you {
  padding-bottom: 20px;
}
.rating-end {
  text-align: center;
  color: var(--light-grey);
}
.result {
  width: 100%;
  background-color: var(--dark-blue);
  border-radius: 20px;
  height: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: var(--orange);
}
.thank-you {
  color: var(--pure-white);
  font-size: 1.6em;
  padding-top: 30px;
  display: block;
}
